// components
@import './_variables.scss';

// selection
::selection {
    background: #fff;
}

// images
img {
    -webkit-user-drag: none;
}

header {
    visibility: hidden;
}

// spot light
.spot-lights,
.spot-lights > * {
    z-index: -1;
}
.background-lights,
.background-lights > * {
    z-index: -1;
}
.spot-lights.spin-player-page .spot-light-right.infinite {
    left: 58%;
}

// menu background
header .nav-menu .navigation-background img {
    opacity: 1;
}

// slick carounsell
.slick-slide {
    pointer-events: none;
    &.slick-active {
        pointer-events: auto;
    }
}

// hide title if popup open
.popup-active {
    & header,
    > .tgsr-logo {
        visibility: hidden;
        opacity: 0;
    }
    @media screen and (max-width: $medium-screen) {
        #root {
            width: 100%;
            .boombox-container,
            .stage-pattern {
                opacity: 0;
                // transition: opacity .3s linear;
            }
        }
    }
}

// mobile only
@media screen and (max-width: $mobile) {
    .spot-lights {
        display: none;
    }

    .slick-prev {
        left: 10px;
    }
    .slick-next {
        right: 10px;
    }
}
