// imports
@import '../../styles/_variables.scss';

// controls
.btns-container {
    width: 134px;
    position: absolute;
    left: 50%;
    top: 353px;
    transform: translateX(-50%);
    > .controls {
        top: 0;
        left: 0;
        * {
            cursor: pointer;
            position: absolute;
            left: 0;
            width: 100%;
        }
        .pause {
            top: -1px;
        }
    }
    > .randomizer {
        position: absolute;
        left: 0;
        top: 58px;
        cursor: pointer;
        &.disabled {
            pointer-events: none;
            opacity: 0.8;
        }
    }

    // media
    @media screen and (max-width: $medium-screen) {
        width: 100px;
        top: 275px;
        > .randomizer {
            top: 43px;
        }
    }

    // media
    .mobile-state & {
        width: 75px;
        top: 184px;
        // > .randomizer {
        //     top: 43px;
        // }
    }
}
