// imports
@import '../../styles/_variables.scss';

// record container
.record-container {
    width: 365px;
    height: 365px;
    position: absolute;
    top: 330px;
    &.left {
        left: 200px;
    }
    &.right {
        right: 200px;
    }
    * {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .glow-container {
        width: 100%;
        height: 100%;
        text-align: center;
        img {
            width: auto;
        }
    }

    // media
    @media screen and (max-width: $medium-screen) {
        width: 280px;
        height: 280px;
        top: 255px;
        &.left {
            left: 150px;
        }
        &.right {
            right: 150px;
        }
    }

    // om mobile
    .mobile-state & {
        width: 255px;
        height: 255px;
        top: 150px;
        &.left {
            left: 45px;
        }
        &.right {
            right: 45px;
        }
    }

    // for desktop
    .desktop-record-clicker {
        width: 100%;
        height: 100%;
        &.disabled {
            pointer-events: none;
        }
        &.left {
            .a {
                width: 48px;
                height: 84px;
                left: auto;
                right: 13px;
            }
            .b {
                left: auto;
                right: 79px;
                top: 49px;
                width: 142px;
                height: 58px;
                transform: rotate(14deg);
            }
            .c {
                width: 58px;
                height: 114px;
                left: 57px;
                top: 60px;
                transform: rotate(21deg);
            }
            .d {
                width: 48px;
                height: 84px;
                left: 60px;
                top: auto;
                bottom: 71px;
                transform: rotate(-39deg);
            }
            .e {
                left: auto;
                right: 91px;
                top: auto;
                width: 122px;
                height: 50px;
                bottom: 47px;
                transform: rotate(-15deg);
            }
        }
        &.right {
            .a {
                width: 48px;
                height: 84px;
                left: auto;
                left: 60px;
            }
            .b {
                left: 113px;
                top: auto;
                width: 75px;
                height: 45px;
                transform: rotate(17deg);
                bottom: 44px;
            }
            .c {
                left: auto;
                right: 45px;
                top: auto;
                width: 72px;
                height: 45px;
                bottom: 92px;
                transform: rotate(-56deg);
            }
            .d {
                left: auto;
                right: 21px;
                top: 86px;
                width: 142px;
                height: 50px;
                transform: rotate(51deg);
            }
            .e {
                width: 50px;
                height: 94px;
                left: 111px;
                top: 25px;
                transform: rotate(65deg);
            }
        }
    }
}
